<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society Members</title>
</head>
<body style="background-color: deepskyblue;">
    <h1><center>Society Members</center></h1>
    <hr>
    <ul>
        {% for i in members %}
            <h3><li>{{ i.name }} - {{ i.contact_number }}</li></h3>
        {% endfor %}
    </ul>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>
