<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body style="background-color: darkseagreen ;">
    <h1><center>Welcome to Your Dashboard</center></h1>
    <hr>
    
    <div>
        <h3><li><a href="/myprofile">My Profile</a></li></h3>
    </div>
    
    <div>
        <h3><li><a href="/society_members">Society Members</a></li></h3>   
    </div>
    
    <div>
        <h3><li><a href="/society_watchmen">Society Watchmen</a></li></h3>  
    </div>
    
    <div>
        <h3><li><a href="/notice">Notice</a></li></h3>
    </div>
    
    <div>
        <h3><li><a href="/events">Events</a></li></h3>
    </div>
</body>
</html>
