<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
</head>
<body style="background-color: rgb(229, 234, 138);">
    <center><h1>My Profile</h1></center>
    <hr>
    {%for i in userid%}
    <p>Username: {{ i.username }}</p>
    <p>Email: {{ i.email }}</p>
    <p>Full Name: {{ i.full_name }}</p>
    <p>Contact Number: {{ i.contact_number }}</p>
    <p>Date of Birth: {{ i.date_of_birth }}</p>
    <a href="/deletedata/{{i.id}}">Delete</a>
    <a href="/update/{{i.id}}">Update</a>
    {%endfor%}
    
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>